@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.chat-room {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.active {
  border-bottom: 3px solid black;
}

.custom-toast {
  @apply rounded-md border p-3 text-sm shadow-lg;
}

.custom-toast-success {
  @apply border-green-300 bg-green-50 text-green-700;
}

.custom-toast-error {
  @apply border-red-300 bg-red-50 text-red-700;
}